.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #00b548; /* Azul visible */
  color: white;
  font-family: Arial, sans-serif;
  height: 60px; /* Altura fija para que sea visible */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.navbar-user {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 24px;
  margin-right: 10px;
}

.username {
  font-size: 16px;
  font-weight: bold;
}

.logout-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #e60000;
}