body {
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Fondo claro */
  justify-content: center;
  height: 100%; /* Asegura que ocupen el 100% de la altura */
  width: 100%;
}
.register-container {
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw; /* Ocupa todo el ancho de la ventana */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Ajusta el contenido al inicio */
  color: white; /* Texto blanco para contraste */
}

#root {
  height: 100vh; /* Asegura que el contenedor ocupe toda la pantalla */
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
}